<div class="main">

<%= render 'form' %>

<table>
<% @posts.each do |post| %>
    <tr>
        <td class="body">
            <%= image_tag(post.picture_url, width:380) if post.picture.present? %><br>
            <%= post.body %>
        </td>
        <td class="destroy"><%= link_to '×', post, method: :delete %></td>
    </tr>
<% end %>
</table>
</div>